html, body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.container {
  max-width: 1366px;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.chip {
  /* min-width: 1rem; */
  padding: 7px 12px;
  margin:4px;
  background-color: rgb(61, 61, 61);
  border-radius: 1rem;
  color: #fff;
}